#app {
  display: grid;
  height: 300px;
  grid-template-areas: "header header header"
                        "nav article-1 ad-area"
                        "nav article-2 ad-area"
                        "footer footer footer";
  grid-template-rows: [start] 20% [trip1] 30% [trip2] 30% [trip3] 20% [end];
  grid-template-columns: [start] 15% [twin1] 60% [twin2] 25% [end]
}

#header, #footer {
  background-color: #9BCE1D;
}

#header {
  grid-area: header;
}

#footer {
  grid-area: footer;
}

#main {
  background-color: #F7F5D8
}

#article-1 {
  background-color: lightcoral;
  grid-area: article-1;
}

#article-2 {
  background-color: violet;
  grid-area: article-2;
}

#nav {
  background-color: cornflowerblue;
  grid-area: nav;
}

#ad-area {
  background-color: cornflowerblue;
  grid-area: ad-area;
}
